* {
    box-sizing: border-box;
  }
  
  
  

footer{
    
    width: 100%;
    background-color: #010303;
    color: #fff;
    text-align: center;
    height: 50px;
    position: absolute;/*←絶対位置*/
}

@media screen and (max-width: 1000px) {
  footer{
    bottom:0;
  }
}