@charset "UTF-8";

* {
  box-sizing: border-box;
}

.parent{
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  text-align: center;
  align-items: center;
  object-fit: cover;

  background-image:url(image/james-sutton-Fk6Hj4-FFWw-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}


@font-face {
  font-family: 'myfont'; /* フォント名 */
  /* フォーマットごとにパスを指定 */
  src: url('fonts/SigmarOne-Regular.ttf') format('truetype');
}

.parenttitle{
 font-size: 80px;
 font-family: 'myfont', sans-serif;
 font-weight: bold;
 color:#F8F8FF;

 display: flex;
 padding: 20px;
}

.empty-container {
  display: flex;
  position: relative;
  width: 50%;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border: 5px dashed #bbb;
  padding-top: 100px;
  text-align: center;
}

.wav_upload{
  font-size: 15px;
  font-family: 'utf8';
  font-weight: bold;
  color:#F8F8FF;
  
  display: flex;
  margin: 10px auto;
  padding: 20px;
}

.wav_info{
  font-size: 15px;
  font-family: 'utf8';
  font-weight: bold;
  color:#F8F8FF;
  
  display: flex;
  margin: 10px auto;
  padding: 20px;
}