@charset "UTF-8";

* {
  box-sizing: border-box;
}

.parent{
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-image:url(image/james-sutton-Fk6Hj4-FFWw-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}


@font-face {
  font-family: 'myfont'; /* フォント名 */
  /* フォーマットごとにパスを指定 */
  src: url('fonts/SigmarOne-Regular.ttf') format('truetype');
}

.parent p{
 font-size: 100px;
 font-family: 'myfont', sans-serif;
 font-weight: bold;
 color:#F8F8FF;

 display: flex;
 padding: 100px;
}
