<!doctype html>
<html lang=”ja”>
    <head>
         <title>Index </title>
            <meta charse=”utf8″/>
            <style>
                body{margin:10px;} 
               h1 {color:rgb(255, 127, 249);font-size:30pt;}
                p{fontsize:14pt;} 
           </style>
    </head>
    <body>
        <header id="header">
            <div class="wrapper">
            <!-- title -->
                <h1 class="headline">
                    <a>Polyrhythm</a>
                </h1>
                <!-- ナビゲーションリストゾーン -->
                <nav class="header_nav">
                    <ul class="header_navList">
                    <li><a href="#levitation21">levitation21</a></li>
                    <li><a href="#section02">項目02</a></li>
                    <li><a href="#section03">項目03</a></li>
                    </ul>
                </nav>
            </div>
    </header>     
    <h1>Rope_blog</h1>
        <p>This is Flask sample for html.</p>
    </body>
</hmtl>