{%- extends "layout.html" %}
{%- block content %}
<main id="main">

    <div class="title-2">
        <p>Music</p>				
    </div>
    <div class="container">
    
    <!--Youtube動画埋め込み-->
    <iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/Rq8exzJmC7c" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
    </iframe>

    <audio src="static/css/audio/Levitation21-Bass_Guitar.wav" controls></audio>
    <audio src="static/css/audio/Levitation21-piano.wav" controls></audio>
        <article>
            <div class="articlebox nav_page">
            </div>
        </article>
    {% include "aside.html" %}
    </div>
{%- endblock %}