<!doctype html>
<html lang=”ja”>
    <head>
        <link rel="stylesheet" href="static/css/headerstyle.css">
         <title>Index </title>
        <meta charse=”utf8″/>
    </head>

    <body>
        <header id="header">

            <!-- title -->
            <h1 class="headline">
                <a>YK MUSIC</a>
            </h1>
            <!-- ナビゲーションリストゾーン -->
            <nav class="header_nav">
                <ul>
                    <li><a href="Playlists">Playlists</a></li>
                    <li><a href="Music">Music</a></li>
                    <li><a href="Article">Article</a></li>
                </ul>
            </nav>

        </header>     
    </body>
</hmtl>