{%- extends "layout.html" %}
{%- block content %}
    
    

    <main id="main">

        <div class="title-2">
            <p>Music</p>				
        </div>
        <div class="container">
            <article>
                <div class="articlebox wrap">
                    <p>
                        <time itemprop="datePublished">2022/01/13</time>
                    </p>
                    <!--　タイトル　--> 
                    <h2 class="title"><a href="Levitation21"> Tigran Hamasyan 「Levitation 21」</a></h2>
                    <!-- サムネイル　-->
                    <div itemprop="image" class="thumbnail">
                        <a href="Levitation21" style="background-image:url(static/css/image/piano-g42074c8bc_1920.jpg);"></a>
                    </div>
                    <!--記事-->
                    <p itemprop="description" class="discription">
                        　曲解説のコーナーです。初回は僕が大好きなTigran Hamasyanというアルメニア出身のジャズピアニストの曲を紹介したいと思います。
                        拍子と数字が常に隠れている建築的な曲です。
                    </p>
                </div>

                <div class="articlebox nav_page">
                </div>
            </article>
            {% include "aside.html" %}
        </div>
  
    </main> 

    {%- endblock %}