{%- extends "layout.html" %}
{%- block content %}
       

    <main id="main">

        <div class="title-1">
            <p>Playlist</p>				
        </div>
        <div class="container">
            <article>
                <div class="articlebox wrap">
                    
                    <p>
                        <time itemprop="datePublished">2022/01/11</time>
                    </p>
                    <!--　タイトル　--> 
                    <h2 class="title"><a href="Playlist01">{{contents['title']}}</a></h2>
                    <!-- サムネイル　-->
                    <div itemprop="image" class="thumbnail">
                        <a style="background-image:url(static/css/image/CaliCult.jpg);" href="Playlist01"></a>
                    </div>
                    <!--記事-->
                    <p itemprop="description" class="discription">
                        {{contents['text']}}
                    </p>
                </div>

                <div class="articlebox nav_page">
                </div>
            </article>
            {% include "aside.html" %}
        </div>
  
    </main> 



{%- endblock %}