{%- extends "layout.html" %}
{%- block content %}
    <link rel="stylesheet" href="static/css/playlist.css">
    
    

    <main id="main">

        <div class="title-1">
            <p>Playlist</p>				
        </div>
        <div class="container">
            <article>
                <div class="articlebox wrap">
                    <p>
                        <time itemprop="datePublished">2022/01/11</time>
                    </p>
                    <!--　タイトル　--> 
                    <h2 class="title">クロスオーバー　プレイリスト1</h2>
                    <!-- サムネイル　-->
                    <div itemprop="image" class="thumbnail">
                        <a style="background-image:url(static/css/image/CaliCult.jpg);"></a>
                    </div>
                    <!--記事-->
                    <p itemprop="description" class="discription">
                        　クロスオーバーという視点で厳選した曲をプレイリストに選びました。
                        ジャンルとジャンルの持つ要素の相乗効果によって生まれる新しい音楽の例を紹介します。</p>
                </div>

                <div class="articlebox nav_page">
                </div>
            </article>
            <aside id="sidebar">
                <!--プロフィール-->
                <div class="articlebox profile">
                    <img src="static/css/image/profile.JPEG" class=img_circle>
                    <h3>YK</h3>
                    <p>　都内の理系学生です。音楽(Classic,jazz,fusion,Rock(特にHard RockとProgressive Rock),metal,hiphop,neosoul等)を聴きます。楽器はピアノとキーボードとベースを弾きます。尊敬する作曲家はラヴェル。音楽以外の記事も書く予定です。</p>
                </div>
            </aside>
        </div>
  
    </main> 



{%- endblock %}